name: Create Python release windows macos

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Create Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["windows-latest"]
        python-version: ["3.7", "3.11"]
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Prepare maturin publish
        shell: bash
        run: |
          cd py-gaoya
          rustup override set stable
      - name: maturin publish
        uses: messense/maturin-action@v1
        env:
          MATURIN_PASSWORD: ${{ secrets.PYPI_PASS }}
          RUSTFLAGS: '-C target-feature=+fxsr,+sse,+sse2,+sse3,+ssse3,+sse4.1,+popcnt'
        with:
          maturin-version: 0.15.1
          command: publish
          args: -m py-gaoya/Cargo.toml --no-sdist --universal2 -o wheels -i python --username serenky