name: Test python

# Triggers the workflow on push or pull request events
on: [push, pull_request]

jobs:
  test-python:
    name: Build and test Python
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.7"]
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r py-gaoya/build.requirements.txt
      - name: Run tests
        run: |          
          cd py-gaoya && make test